<ul class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
  <li><a href="#affiliate-settings" data-toggle="tab" aria-expanded="false">Affiliate Settings</a></li>
  <li><a href="#cancel-account" data-toggle="tab" aria-expanded="false" class="red-text">Cancel Account</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="profile">
    <br>
    <h2 class="text-center">Profile Settings</h2>
    <br>
    <%= simple_form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :vivieu_name, required: true, autofocus: true, label:'Vivieu display name' %>
          <%= f.input :email, required: true %>
          <%= f.input :description, label: 'Write something about yourself' %>
          <%= f.input :facebook %>
          <%= f.input :twitter %>
          <%= f.input :google_plus %>
          <%= f.input :patreon %>
          <%= f.input :personal_website %>
          <%= f.input :locale %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update Profile" %>
        </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="affiliate-settings">
    <h2 class="text-center">Amazon Affiliate Settings</h2>
    <br>
    <% user = User.find(current_user.id) %>
    <% user.affiliate_countries.build unless user.affiliate_countries.present? %>


    <%= simple_form_for user, url: "/users/#{user.id}", html: { method: :put} do |f| %>
        <%= f.input :vivieu_name, as: :hidden, input_html: { value: user.vivieu_name } %>
        <%= f.input :email, as: :hidden, input_html: {  value: user.email } %>
        <div class="affiliate_countries">
          <%= f.simple_fields_for :affiliate_countries do |ff| %>
              <%= render 'devise/registrations/affiliate_country_fields', f: ff %>
          <% end %>
          <div class="text-center">
            <%= link_to_add_association 'Add Affiliate', f, :affiliate_countries, class: 'btn btn-success btn-sm' %>
          </div>
        </div>
        <br>
        <%= f.button :submit, 'Update Affiliate Countries' %>
    <% end %>

  </div>


  <div class="tab-pane fade" id="cancel-account">
    <h2 class="text-center">Account Cancellation</h2>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <p>Use the link below to cancel your account. Though you may delete your account but if you have any reviews, they
          will not be deleted. After deleting your account, you will not have any access to your previous reviews.</p>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <p><%= link_to "Cancel my account", registration_path(resource_name),
                       data: { confirm: "Are you sure you want to delete your account ? This action is irreversible",
                               verify: "#{current_user.email}", verify_text: 'Type your email to confirm'}, method: :delete,
                       class: 'btn btn-danger btn-sm'%></p>
      </div>
    </div>
  </div>
</div>