<ul class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
  <li><a href="#affiliate-settings" data-toggle="tab" aria-expanded="false">Affiliate Settings</a></li>
  <li><a href="#cancel-account" data-toggle="tab" aria-expanded="false" class="red-text">Cancel Account</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="profile">
    <br>
    <h2 class="text-center">Profile Settings</h2>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="text-center">About You</h3>
        <br>
        <%= simple_form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :vivieu_name, required: true, autofocus: true, label:'Vivieu display name' %>
              <%= f.input :email, required: true %>
              <%= f.input :description, label: 'Write something about yourself' %>
              <%= f.input :facebook %>
              <%= f.input :twitter %>
              <%= f.input :google_plus %>
              <%= f.input :patreon %>
              <%= f.input :personal_website %>
              <%= f.input :locale %>

            </div>

            <div class="form-actions">
              <%= f.button :submit, "Update Profile" %>
            </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4 col-md-offset-1">
        <h3 class="text-center">Preview</h3>
        <br>
        <div class="user-preview-panel panel panel-default">
          <div class="panel-heading text-center" id="vivieu-name-preview"><%= current_user.vivieu_name %></div>
          <div class="panel-body">
            <div class="text-center">
              <%= image_tag(current_user.avatar, class: 'img-circle img-thumbnail', size: '200x200') %>
            </div>
            <br>
            <div class="user-description text-center well" id="user-description-preview">
              <%= current_user.description %>
            </div>
            <div class="text-center" id="social-media-icons">
              <% if current_user.facebook? %>
                  <i class="fa fa-facebook-square fa-4x" id='fb-icon' aria-hidden="true"></i>
              <% else %>
                  <i class="fa fa-facebook-square fa-4x" id='fb-icon' aria-hidden="true" style="display: none;"></i>
              <% end %>

              <% if current_user.twitter? %>
                  <i class="fa fa-twitter-square fa-4x" id='twitter-icon' aria-hidden="true"></i>
              <% else %>
                  <i class="fa fa-twitter-square fa-4x" id='twitter-icon' aria-hidden="true" style="display: none"></i>
              <% end %>
              <% if current_user.google_plus? %>
                  <i class="fa fa-google-plus-square fa-4x" id='g-icon' aria-hidden="true"></i>
              <% else %>
                  <i class="fa fa-google-plus-square fa-4x" id='g-icon' aria-hidden="true" style="display: none"></i>
              <% end %>
              <% if current_user.patreon? %>
                  <svg id="patreon-icon" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 8 8"
                       width="50px"
                       height="50px"
                       fill="#000">
                    <path d="M2.32081783.3678855c.869042-.40526652 1.88661925-.47774603 2.80665096-.20727372.80652418.2346745 1.53190822.73363407 2.0426921 1.3983242.5050198.6523156.79854318 1.4641745.82647667 2.28752405.0354711.8511923-.21060967 1.71122356-.6952336 2.4134793-.71030882 1.0518368-1.9482503 1.72713368-3.22254963 1.73950823-.63803645.0008839-1.2760729.00044195-1.91366597 0 .00532067-1.34042898.0004434-2.68085797.00310373-4.0217289.00221694-.50647268.23011877-1.00499028.60921618-1.34131288.36180524-.3279256.85973083-.5002854 1.3474585-.46404565.50457642.03093638.98831357.2859405 1.30267622.68015833.3232304.3968695.46422805.93295272.38131434 1.4376576-.08114014.53122177-.41368172 1.01603898-.87790977 1.2882791-.5373872.3252739-1.2406018.3345548-1.7935076.04021728.00044338.43487706-.0008868.86975412.00044338 1.30463118.4934917.14407512 1.02201113.16838228 1.52392723.0539177.7431196-.16219502 1.4144102-.6174017 1.8444973-1.24187455.40969124-.5855814.59946164-1.31788962.52851943-2.02810043-.06030086-.6514317-.34052257-1.27944013-.78302457-1.7620476-.41013462-.4507872-.95860653-.77561914-1.55363427-.913507-.6837055-.162195-1.42372137-.07866678-2.05200326.23600036C1.64553673 1.7542771.962718 2.8206982.95207668 3.932198.95030312 5.2876532.95163328 6.6435504.9511899 7.99944755c-.3165796.0008839-.63360256.00044195-.95062554.00044195-.0004434-1.32584468.0004434-2.65168938-.0004434-3.97709212-.00443387-.56569374.11306415-1.13227137.3440697-1.6493508C.73215587 1.49662128 1.44778534.7691745 2.32081784.3678855z" />
                  </svg>
              <% else %>
                  <svg id="patreon-icon" style="display: none" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 8 8"
                       width="50px"
                       height="50px"
                       fill="#000">
                    <path d="M2.32081783.3678855c.869042-.40526652 1.88661925-.47774603 2.80665096-.20727372.80652418.2346745 1.53190822.73363407 2.0426921 1.3983242.5050198.6523156.79854318 1.4641745.82647667 2.28752405.0354711.8511923-.21060967 1.71122356-.6952336 2.4134793-.71030882 1.0518368-1.9482503 1.72713368-3.22254963 1.73950823-.63803645.0008839-1.2760729.00044195-1.91366597 0 .00532067-1.34042898.0004434-2.68085797.00310373-4.0217289.00221694-.50647268.23011877-1.00499028.60921618-1.34131288.36180524-.3279256.85973083-.5002854 1.3474585-.46404565.50457642.03093638.98831357.2859405 1.30267622.68015833.3232304.3968695.46422805.93295272.38131434 1.4376576-.08114014.53122177-.41368172 1.01603898-.87790977 1.2882791-.5373872.3252739-1.2406018.3345548-1.7935076.04021728.00044338.43487706-.0008868.86975412.00044338 1.30463118.4934917.14407512 1.02201113.16838228 1.52392723.0539177.7431196-.16219502 1.4144102-.6174017 1.8444973-1.24187455.40969124-.5855814.59946164-1.31788962.52851943-2.02810043-.06030086-.6514317-.34052257-1.27944013-.78302457-1.7620476-.41013462-.4507872-.95860653-.77561914-1.55363427-.913507-.6837055-.162195-1.42372137-.07866678-2.05200326.23600036C1.64553673 1.7542771.962718 2.8206982.95207668 3.932198.95030312 5.2876532.95163328 6.6435504.9511899 7.99944755c-.3165796.0008839-.63360256.00044195-.95062554.00044195-.0004434-1.32584468.0004434-2.65168938-.0004434-3.97709212-.00443387-.56569374.11306415-1.13227137.3440697-1.6493508C.73215587 1.49662128 1.44778534.7691745 2.32081784.3678855z" />
                  </svg>
              <% end %>
            </div>
            <br>
            <% if current_user.personal_website? %>
                <div class="text-center" id="personal-website-preview">
                  <a href="<%= current_user.personal_website %>" class="btn btn-default btn-block">
                    My Website
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </div>
                <% else %>
                <div class="text-center" id="personal-website-preview" style="display: none">
                  <a href="#" class="btn btn-default btn-block">
                    My Website
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="affiliate-settings">
    <h2 class="text-center">Amazon Affiliate Settings</h2>
    <br>
    <% user = User.find(current_user.id) %>
    <% user.affiliate_countries.build unless user.affiliate_countries.present? %>


    <%= simple_form_for user, url: "/users/#{user.id}", html: { method: :put} do |f| %>
        <%= f.input :vivieu_name, as: :hidden, input_html: { value: user.vivieu_name } %>
        <%= f.input :email, as: :hidden, input_html: {  value: user.email } %>
        <div class="affiliate_countries">
          <%= f.simple_fields_for :affiliate_countries do |ff| %>
              <%= render 'devise/registrations/affiliate_country_fields', f: ff %>
          <% end %>
          <div class="text-center">
            <%= link_to_add_association 'Add Affiliate', f, :affiliate_countries, class: 'btn btn-success btn-sm' %>
          </div>
        </div>
        <br>
        <%= f.button :submit, 'Update Affiliate Countries' %>
    <% end %>

  </div>


  <div class="tab-pane fade" id="cancel-account">
    <h2 class="text-center">Account Cancellation</h2>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <p>Use the link below to cancel your account. Though you may delete your account but if you have any reviews, they
          will not be deleted. After deleting your account, you will not have any access to your previous reviews.</p>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <p><%= link_to "Cancel my account", registration_path(resource_name),
                       data: { confirm: "Are you sure you want to delete your account ? This action is irreversible",
                               verify: "#{current_user.email}", verify_text: 'Type your email to confirm'}, method: :delete,
                       class: 'btn btn-danger btn-sm'%></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  initialize_user_preview()
</script>