<h2 class="text-center text-default">Manage Users</h2>
<br>

<%= current_visit.methods %>

<div class="row">
  <div class="col-sm-12 col-md-4 col-md-push-8">
    <%= render 'shared/admin/search_bar', route: admin_users_path, name: 'users' %>
  </div>
</div>
<br>
<table class="table table-striped table-hover ">
  <thead>
  <tr class="info">
    <th>Vivieu Name</th>
    <th>Roles</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <% role = User.roles(user) %>
      <tr class="<%= 'text-warning' if role == 'Reviewer' %>">
        <td><%= user.vivieu_name %></td>
        <td><%= role %></td>
        <td>
          <%= link_to admin_user_path(user), class: 'btn btn-default btn-xs' do %>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_admin_user_path(user), class: 'btn btn-success btn-xs' do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to admin_user_path(user), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Make sure to check the user for existing reviews', verify: "#{user.vivieu_name}", verify_text: 'Enter the vivieu name of the user'} do %>
              <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Back', :back, class: 'btn btn-success' %>
  </div>
</div>