<h2 class="text-center text-default">User Information</h2>
<br>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title text-center">General User Information</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <div class="col-sm-12 col-md-6">
          <h4 class=" text-primary text-capitalize">User Info</h4>
          <% @user.attributes.each do |key, value| %>
              <li class="list-group-item">
                <%= key %> : <%= value %>
              </li>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4 class="text-capitalize text-info text-primary">Contribution info</h4>
          <li class="list-group-item">
            <span class="badge"><%= @user.tags.count %></span>
            <%= link_to 'View user tags', admin_manage_tags_path(user_id: @user.id) %>
          </li>
          <li class="list-group-item">
            View User Reviews - Coming soon
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>

<br>
<div class="row">
  <h3 class="text-danger">Actions</h3>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= link_to 'Back', :back, class: 'btn btn-success' %>
      <%= link_to 'Edit User Information', edit_admin_user_path(@user), class: 'btn btn-default' %>
      <%= link_to 'Delete User', admin_user_path(@user),
                  class: 'btn btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this user ?',
                          verify: "#{@user.vivieu_name}",
                          verify_text: "Enter the user's vivieu name"} %>
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    </div>
  </div>
</div>