<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/seo' %>
  <%= render 'shared/javascripts' %>
  <%= render 'shared/stylesheets' %>
  <%= csrf_meta_tags %>
</head>

<body>
<% unless controller_name == 'app' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_messages' %>
<% end %>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render 'shared/login_modal' %>
<%= render 'shared/new_review' %>
</body>
</html>
