<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/seo' %>
  <%= render 'shared/javascripts' %>
  <%= render 'shared/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'shared/flash_messages' %>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render 'shared/login_modal' %>
</body>
</html>
